<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>State Management</title>
</head>
<body>
  <div>Limit
    <button (click)="increaseLimit(10)">+</button>
    {{store.limit$ | async}} <!--เนื่องจากเป็นตัวแปร observable ต้อง subScribe ก่อน-->
    <button (click)="decreaseLimit(10)">-</button>
  </div>
  <br>
  <div>Offset
    <button (click)="increaseOffset(10)">+</button>
    {{store.offset$ | async}} <!--เนื่องจากเป็นตัวแปร observable ต้อง subScribe ก่อน-->
    <button (click)="decreaseLimit(10)">-</button>
  </div>
  <button (click)="store.loadPokemon">Pokemons</button>
  <div>{{store.pokemons$ | async}}</div>
</body>
</html>